<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }
        .btn-custom {
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Bienvenido</h1>
        <p class="lead mb-4">Por favor, elige una opción a continuación:</p>
        <button id="regis" class="btn btn-primary btn-custom mb-3" onclick="redirectToregis()">Registrarse</button>
        <br>
        <button id="sesi" class="btn btn-secondary btn-custom" onclick="redirectTosesi()">Iniciar sesión</button>
    </div>
    
    <script>
        // Ingreso a formulario de registro
        function redirectToregis(){
            window.location.href = '/regis';
        }

        // Ingreso al inicio de sesión
        function redirectTosesi(){
            window.location.href = '/sesi';
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
